<div id="page_mini_title">
    <h2>{{courseName}}</h2>
</div>

<div class="table_container">

    <table>
        <thead>
        <tr>
            <th>idCourse</th>
            <th>Course Title</th>
            <th>Professor</th>
            <th>Total Enrolled</th>
            <th>Online</th>
            <th>Meeting Time</th>
            <th>Classroom</th>

        </tr>
        </thead>

        <tbody>
            {{#each courseDetails}}
                <tr>
                    <td>{{courseId}}</td>
                    <td>{{title}}</td>
                    <td>{{professor}}</td>
                    <td>{{totalEnrolled}}</td>
                    <td>{{online}}</td>
                    {{#if online}}
                        <td>--</td>
                        <td>--</td>
                    {{else}}
                        <td>{{meetTime}}</td>
                        <td>{{location}}</td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>