<div id="page_mini_title">
    <h2>{{courseName}}</h2>
</div>

<div class="table_container">

    <table>
        <thead>
        <tr>
            <th>idCourse</th>
            <th>Course Title</th>
            <th>Description</th>
            <th>Professor</th>
            <th>Credit Hours</th>
            <th>Prerequisites</th>
            <th>Total Enrolled</th>
            <th>Online</th>
            <th>Meeting Time</th>
            <th>Classroom</th>

        </tr>
        </thead>

        <tbody>
            {{#each courseDetails}}
                <tr>
                    <td>{{idCourse}}</td>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{professor}}</td>
                    <td>{{creditHours}}</td>
                    <td>{{prerequisites}}</td>
                    <td>{{totalEnrolled}}</td>
                    {{#if online}}
                        <td>Yes</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    {{else}}
                        <td>No</td>
                        <td>{{meetingTime}}</td>
                        <td>{{location}}</td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>