<div id="page_mini_title">
    <h2>Courses Data</h2>
</div>

<div class="table_container">
    <div id="explain_to_user">
        To check the details of a course, please click the values that are <label class="underline">underlined</label>
    </div>
    <table>
        <thead>
        <tr>
            <th>idCourse</th>
            <th>Title</th>
            <th>Professor</th>
            <th>Total Enrolled</th>
            <th>Online</th>
            <th>Meeting Time</th>
            <th>Classroom</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
            {{#each courses}}
                <tr>
                    <td>{{idCourse}}</td>
                    <td><a href="/courseDetails/{{idCourse}}">{{title}}</a></td>
                    <td>{{professor}}</td>
                    <td>{{totalEnrolled}}</td>
                    {{#if online}}
                        <td>Yes</td>
                        <td>--</td>
                        <td>--</td>
                    {{else}}
                        <td>No</td>
                        <td>{{meetingTime}}</td>
                        <td>{{location}}</td>
                    {{/if}}
                    <td><a href="#updateCourseForm">Update</a></td>
                    <td><a href="#deleteCourseForm">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>

    </table>
</div>

{{>coursesPageCRUDForm}}

{{>coursesPageScript}}