<!--suppress ALL -->
<div id="page_mini_title">
    <h2>Students Data</h2>
</div>

<div class="table_container">
    <div class="table_navbar">
        <div id="explain_to_user">
            To check the schedule of a student, please click the student values that are italic and colored white
        </div>
        <div class="addButton" onclick="toggleForm(`add-student-form`)">
            Add new student &nbsp; &nbsp; <img src="/addIcon">
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>idStudent</th>
            <th>Username</th>
            <th>Email</th>
            <th>Major</th>
            <th>Address</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {{#each allStudents}}
                <tr>
                    <td><a href="/studentSchedules/{{studentId}}">{{studentId}}</a></td>
                    <td><a href="/studentSchedules/{{studentId}}">{{username}}</a></td>
                    <td>{{email}}</td>
                    <td>{{major}}</td>
                    <td>{{address}}</td>
                    <td><a href="#updateStudentForm" onclick="fillUpdateForm('{{studentId}}', '{{username}}', '{{email}}', '{{major}}', '{{address}}')">Update</a></td>
                    <td><a href="#deleteStudentForm" onclick="fillDeleteForm('{{studentId}}')">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{>studentsPageCRUDForm}}

<script>
    function fillDeleteForm(studentId) {
        // show form
        toggleForm("deleteStudentForm")

        document.getElementById('studentDelete').value = studentId;
    }

    function fillUpdateForm(studentId, username, email, major, address) {
        // show form
        toggleForm("updateStudentForm")

        document.getElementById('idStudent').value = studentId;
        document.getElementById('usernameUpdate').value = username;
        document.getElementById('emailUpdate').value = email;
        document.getElementById('majorUpdate').value = major;

        const [streetName, city, state, zipCode, country] = address.split(',').map(part => part.trim());

        document.getElementById("streetNameUpdate").value = streetName;
        document.getElementById("cityUpdate").value = city;
        document.getElementById("stateUpdate").value = state;
        document.getElementById("zipcodeUpdate").value = zipCode;
        document.getElementById("countryUpdate").value = country;
    }
</script>