<div id="page_mini_title">
    <h2>{{studentName}}'s Schedules</h2>
</div>

<div class="table_container">
    <div class="table_navbar">
        <div id="explain_to_user">
            To check all the courses added in a term, please click the <label class="aTagColor">colored</label> value
        </div>
        <div class="addButton" onclick="toggleForm(`newScheduleForm`)">
            Add new student &nbsp; &nbsp; <img src="/addIcon">
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>idSchedule</th>
            <th>Total Credits</th>
            <th>Term</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
            {{#each studentSchedules}}
                <tr>
                    <td>{{idSchedule}}</td>
                    <td>{{totalCreditHours}}</td>
                    <td><a href="/studentCourses/{{idSchedule}}">{{term}}</a></td>
                    <td><a href="#deleteScheduleButton" onclick="deleteSchedule()">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>

    </table>
</div>

{{>studentSchedulesPageCRUDForm}}

<script>
    function deleteSchedule(){
        toggleForm('deleteScheduleForm')
    }
</script>